{% extends 'base.html' %}

{% block content%}
{% load staticfiles %}

<section id="title">
  <div class="container-fluid">

    <nav class="navbar navbar-expand-md navbar-dark">

      <a class="navbar-brand" href="{% url 'home' %}">Slackify Me!</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">Try Now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
          </li>
        </ul>

      </div>
    </nav>

    <div class="row">

      <div class="col-lg-7">
        <h1 class="big-heading">Finally, millennials will read your messages. </h1>
        <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
        <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i>
          Download</button>
      </div>

      <div class="col-lg-5">
        <img src="{% static 'smartphone.svg' %}" alt="iphone-mockup" class="title-image">
      </div>

    </div>

  </div>
</section>

{% endblock%}