{% extends 'base.html' %}

{% block content%}
{% load staticfiles %}

<div class="container">

        <br/>

            <h1 class="jumbotron-heading">Slackify Your Message</h1>

              <p class="lead text-muted">Compose a message for your favourite Systems Engineering Slack channel. Make it short and sweet. Our app will do the rest by adding all the fun &#128540 &#128514 &#128525; </p

            </div>

            <form method="post">
                    {% csrf_token%}
                    {{ form.as_p}}
                <input class="btn btn-primary" type = 'submit' value = 'Send'/>
            </form>

{% endblock%}